/node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.idea
.DS_Store
.tmp

package-lock.json
yarn.lock
!test/fixtures/apps/loader-plugin/node_modules
.editorconfig
*clinic-flame*
*clinic-doctor*